

services:
  nginx:
    build:
      context: ./NGINX
      dockerfile: Dockerfile
    image: nginx
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - wordpress
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html:ro
    restart: always

  wordpress:
    build:
      context: ./Wordpress
      dockerfile: Dockerfile
    image: wordpress
    container_name: wordpress
    env_file:
      - ./secret/mariadb.env
    depends_on:
      - mariadb
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html
    restart: always

  mariadb:
    build:
      context: ./Mariadb
      dockerfile: Dockerfile
    image: mariadb
    container_name: mariadb
    env_file:
      - ./secret/mariadb.env
    networks:
      - inception
    volumes:
      - db_data:/var/lib/mysql
    restart: always

networks:
  inception:
    driver: bridge

volumes:
  wordpress_data:
  db_data:
